<p id="notice"><%= notice %></p>

<div class='column'>
<%= render 'form', challenge: @challenge %>
</div>
<br/>
<br/>
<br/>
<br/>

<h5>Challenge List</h5>
<input type="search" name="search" placeholder="&#128269; Search">

<table class="table">
  <thead class='tablehead'>
    <tr>
      <th>Challenge Id</th>
      <th>Title</th>
      <th>Description</th>
      <th>Votes Count</th>
      <th></th>
      <th>Created By</th>
      <th>Create Date</th>
      <th>Tags</th>
      <th>Collaborators</th>
      <th colspan="8"></th>
    </tr>
  </thead>

  <tbody>
    <% @challenges.each do |challenge| %>
      <tr>
        <td><%= link_to challenge.id, challenge %></td>
        <td><%= link_to challenge.title, challenge %></td>
        <td><%= link_to challenge.description, challenge %></td>
        <td><%= challenge.get_upvotes.size %></td>
        <td><% if current_user.id != challenge.user_id%>
        <%= link_to "\u002B" , like_challenge_path(challenge),method: :put %>
        <%end%></td>
        <td><%= challenge.emp_id %></td>
        <td><%= challenge.created_at %></td>
        <td><%= challenge.tags %></td>
        <td>
          <% if challenge.followers.length>1 %>
            <select>
              <%challenge.followers.each do |x|%>
                <option><%=x.emp_id %></option>
              <%end%>
            <select>
          <% else %>
            <%challenge.followers.each do |x|%>
              <%=x.emp_id %>
            <%end%>
          <% end %>
         </td>
        <td>
        <% if current_user.id != challenge.user_id%>
        <%= link_to "\u2713" , follow_challenge_path(challenge),method: :put %>
        <%end%> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

